<!--
  Generated template for the NotmemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header >

  <ion-navbar color="truGreen">
    <ion-title>
  <img alt="logo"   src="assets/images/TruScript Logo Copy@3x.png.png" >
  </ion-title>
  </ion-navbar>

  </ion-header>




<ion-content padding="true" scroll="false">
<p></p><p></p><p></p>
<div class="whitie" >
<h3 ><b>Not a Member, Don't Worry!</b></h3>
<!--  <img src="assets/images/TruScript Logo Copy@3x.png.png" />-->
<div class="worry">
<p >If you are not a member just head over to truscript.com and start using our free program.
   Or visit us at rxbert.com/truscript and learn more about truscript membership.</p>
</div>

</div>
</ion-content>

<!--redirects to an outsider link-->
<ion-footer>
  <div>   <button ion-button full class="web-redirect-button"  onclick="window.open('https://rxbert.com/rx', '_system', 'location=yes'); return false;" > Not a member?</button></div>
</ion-footer>
