page-notmember {

  ion-content{
       background: url('../assets/images/Notamember.jpg') ;
       background-repeat: no-repeat;
        background-position: center;
         background-attachment: fixed;
         background-size:cover
  }

  img {
    width: 50%;
    height: 50%;
    margin: 50px;

  }

ion-navbar {
  height: 170%
}

.worry {
font-size: 120%;

}
.whitie {
  text-align: center;
  color:white;
}
.web-redirect-button {

      background-color: #df3052;
      font-size: 1.1em;
  }

}
