page-search-config {

  ion-navbar {
    height: 130%;
  }

  ion-option   {

    font-size: 25% ;
    color: red ;

  }
  ion-select {


        text-align: right;
        font-size : 80% ;
  }


ion-icon
{
  font-size: 26px;
}
.headerText{
  line-height: 70%;
}


//In order to align the house icon & the drugSearched
.together{
  display:inline-block;
  //text-align: center;

}
.leftie {

//margin-left:3px;
float: right;
display:inline-block;
}

.web-redirect-button{
  font-size: 22px;
  display: inline-block;
  height: 62px;
}

//The following relates to the header

.inline{
  display: inline-block;
}

.icone{
  //display: inline-//block;
  color:red;

  font-size: 22px;
}
.specs {
  color:white;
  //margin-left: 50px
  Position: absolute;
Left: 0;
Right: 0;
Bottom: 0;
Top: 0;
text-align: center;
line-height: 50px;
z-index: 10 ;

}

.drugName{
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1px;
  text-align: center;

}
.drugSpec{
  font-size:0.9em;
  line-height: 1px;
}
.rightie{
//  margin-right: 0px;
  float: right;
  color:white;
  font-size: 120% ;
//  z-index: 10 ;
//  display: inline-block;

}


}
