<!--
  Generated template for the SearchConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >


  <ion-navbar color="truGreen">
    <div>

<div class="inline " >
    <div class="specs">
    <p class="drugName"  name="searching"  > {{searching}}</p>
    <p class="drugSpec">   {{drugQte}},{{drugDosage}} </p>
  </div>
</div>
<div class="inline rightie" >
  <ion-icon   ios="ios-home" md="md-home" (click)="goToSearchPage()"></ion-icon>
</div>

</div>
</ion-navbar>



</ion-header>



<ion-content color="truBackground" padding>

<!-- TODO: find a better way to view the selected item -->
<ion-item>
      <ion-label><b>Select Brand or Genetic</b><p></p>
      <h6> {{chosen}}</h6></ion-label>
      <ion-select  [(ngModel)]="searching"    interface="action-sheet" (ionChange)="loadDynamicOptions()">
        <ion-option  *ngFor="let drugName of drugNames;let isFirst = first"  [selected]="isFirst" >{{drugName}}</ion-option>
      </ion-select>
    </ion-item>

<p></p><p></p>

<!-- TODO: keep the select view but make it into an alert -->
    <ion-item>
          <ion-label><b>Your Location</b><p></p>
         <h6 [(ngModel)]="zipCode" ngDefaultControl>Zipcode : {{zipCode}} </h6>  </ion-label>
         
          <ion-select  >
          </ion-select>
        </ion-item>

<p></p><p></p>


<ion-item>
      <ion-label><b>Select Package Type</b><p></p>
  <!--    <h6>Type </h6> --> </ion-label>
      <ion-select [(ngModel)]="drugType"  interface="action-sheet" (ionChange)="loadDynamicOptions()" >
        <ion-option  *ngFor="let drugType of drugTypes;let isFirst = first"     >{{drugType}}</ion-option>
      </ion-select>
    </ion-item>


<p></p><p></p>

    <ion-item>
          <ion-label><b>Select Form</b><p></p>
      <!--    <h6>Type </h6> --> </ion-label>
          <ion-select   [(ngModel)]="drugForm" interface="action-sheet" (ionChange)="loadDynamicOptions()" >
            <ion-option  *ngFor="let drugForm of drugForms;let isFirst = first"     >{{drugForm}}</ion-option>
          </ion-select>
        </ion-item>


<p></p><p></p>

    <ion-item>
          <ion-label><b>Select Dosage</b><p></p>
          <!--<h6>dosage</h6> --> </ion-label>
          <ion-select [(ngModel)]="drugDosage"   interface="action-sheet"  >
          <ion-option  *ngFor="let drugDosage of drugDosages;let isFirst = first"   >{{drugDosage}}</ion-option>
          </ion-select>
        </ion-item>


<p></p><p></p>

    <ion-item>
          <ion-label><b>Select Quantity</b><p></p>
        <!--  <h6>Qte</h6> --> </ion-label>
          <ion-select [(ngModel)]="drugQte"   interface="action-sheet" >
            <ion-option  *ngFor="let drugQte of drugQtes;let isFirst = first"  [selected]="isFirst"  >{{drugQte}}</ion-option>
            <ion-option (click)="enterQte()" >Enter Your Quantity</ion-option>
          </ion-select>
        </ion-item>
</ion-content>

<ion-footer>
  <div>   <button ion-button full class="web-redirect-button"  color="truPink" (click)="goToVoucherLocation(drugName,drugType,drugDosage,drugQte)" >Find The Cheapest Price</button></div>
</ion-footer>
