page-voucher {

  ion-footer{
    background-color: white ;
    color: grey ;
    font-size: 0.99em;
  }

    ion-icon
    {
      font-size: 26px;

    }
    .custom
     {
       color:red ;
     }
    //In order to align the house icon & the drugSearched
    .together{
      display:inline-block;
    //  text-align: center; TODO fix it

    }

  .leftie {

  //margin-left:3px;
  float: right;

  }
}
