<!--
  Generated template for the VoucherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="truGreen">
    <ion-title>
  <img alt="logo"   src="assets/images/TruScript Logo Copy@3x.png.png" >
  </ion-title>
  </ion-navbar>

  </ion-header>



<ion-content padding>
  <h3 position="center "> The Voucher </h3>
  <ion-card (click)="goToDirections()">

    <ion-card-header>
    <div class="together">   {{name}} - {{distance}}</div>

       <ion-icon  class="leftie custom" name="information"> </ion-icon>

    </ion-card-header>

    <ion-card-content>
      <h6>  {{address}} {{city}} {{zip}}</h6>
    </ion-card-content>

  </ion-card>


 <button ion-button full color="truPink" > <h6 color="dark" > SHOW THIS TO YOUR PHARMACY</h6> </button>

<h2 align="center"> {{searching}} </h2>
 <ion-list>

<ion-item >

  <h4 color="stable">Member ID:</h4>
</ion-item>
<ion-item >

   <h4 color="stable">Bin:</h4>
</ion-item>
<ion-item >
<h4 color="stable">PCN:</h4>
</ion-item>
<ion-item >
<h4 color="stable">RX group:</h4>
</ion-item>
<ion-item >
<h4 color="stable">Type:  </h4>
</ion-item>

 </ion-list>

<h5 align="center"> Phone: {{phone}} </h5>





</ion-content>


<ion-footer>
   <p color="dark" align="center"> THIS IS NOT INSURANCE </p>
</ion-footer>
