<!--
  Generated template for the SearchConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
<div class="header-bckgrd">

  <ion-navbar color="truGreen">


    <div class="inline " >
        <div class="specs">
        <p class="drugName"  name="searching" [(ngModel)]="searching" ngDefaultControl > {{searching}}</p>
        <p class="drugSpec">   {{drugQte}},{{drugDosage}} </p>
      </div>
    </div>
    <div class="inline rightie" >
      <ion-icon  class="rightie" ios="ios-home" md="md-home" (click)="goToSearchPage()"></ion-icon>
    </div>
</ion-navbar>

</div>

</ion-header>


<ion-content color="truBackground" padding>

  <h6 [(ngModel)]="pharmacyName" ngDefaultControl> Select A  {{pharmacyName}}</h6>
  <ion-card *ngFor="let pharmacy of selectedPharmaciesList" (click)="goToVoucher(pharmacy.name,pharmacy.address,pharmacy.city,pharmacy.zip,pharmacy.phone,pharmacy.distance)">

    <ion-card-header>
    {{pharmacy.name}} - {{pharmacy.distance}}
    </ion-card-header>


      <h6>   {{pharmacy.city}} {{pharmacy.zip}} </h6>
    
  </ion-card>





</ion-content>
