page-pharmacy-list {
  ion-navbar {
    height: 130%
  }

ion-icon
{
  font-size: 26px;
}
//In order to align the house icon & the drugSearched
.together{
  display:inline-block;
//  text-align: center; TODO fix it

}
.leftie {

//margin-left:3px;
float: right;

}

.card-header{

font-size : 0.9em ;

}

.location {
  color: Grey ;
  margin-top: 0px ;
  float:left;
  display:inline-block;
}
.secondLine{
  float:left;
}

.pay{
  // margin-left: 170px ;
  // margin-top: 1px ;
  font-size : 0.8em ;
  float :right;
  display:inline-block;
}

//The following relates to the header

.inline{
  display: inline-block;
}

.icone{
  //display: inline-//block;
  color:red;

  font-size: 22px;
}
.specs {
  color:white;
  //margin-left: 50px
  Position: absolute;
Left: 0;
Right: 0;
Bottom: 0;
Top: 0;
text-align: center;
line-height: 50px;


}

.drugName{
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1px;
  text-align: center;

}
.drugSpec{
  font-size:0.9em;
  line-height: 1px;
}
.rightie{
//  margin-right: 0px;
  float: right;
  color:white;
  font-size: 120%
//  display: inline-block;

}




}
