

<ion-content padding="true" scroll="false">
<p></p><p></p><p></p><p></p>
  <div >

    <ion-row>
      <ion-col >
        <img src="assets/images/TruScript Logo Copy@3x.png.png" />
      </ion-col>
    </ion-row>



<!-- login credentials -->
<ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

<p></p>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

</ion-list>

<!--
<ion-card text-center>
  <ion-card-header>
    Header
  </ion-card-header>
  <ion-card-content style="font-size:200%">
    Welcome {{username || '????' }}   <ion-icon name="heart" color="danger"></ion-icon> {{password || '!!!!'}} Your score is {{score}}
  </ion-card-content>
</ion-card>
-->

<!--
          <ion-item>
            <ion-input type="text" placeholder="Username"></ion-input>
          </ion-item>

 <p></p><p></p>

          <ion-item>
            <ion-input placeholder="Password" type="password"></ion-input>
          </ion-item>
           onclick="window.open('https://rxbert.com/rx', '_system', 'location=yes'); return false;"
-->

    <ion-row>
      <ion-col>
        <button ion-button class="login-button" (click)="login()" >Log In</button>
      </ion-col>
    </ion-row>


</div>
</ion-content>



<ion-footer>
  <div>   <button ion-button full class="not-a-member-button" (click)="notmember()" > <p color="dark" > Not a member?</p> </button></div>
</ion-footer>
