page-login-page {

  ion-content{
       background: url('../assets/images/Background.png') ;
       background-repeat: no-repeat;
        background-position: center;
         background-attachment: fixed;
         background-size:cover
  }

    img {
      width: 50%;
      height: 50%;
      margin: 50px;

    }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }

      ion-list {
          margin: 0;

}
      ion-footer {
        background-color: #f6f6f6;
        width: 100% auto;
        font-size: 0.9em;
        height: 30px ;
        color:#CDC1C5 ;
        text-align: center;

      }
      .scroll-content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
          }

      .login-button {
          width: 80%;
          font-size: 0.9em;
          background-color: #df3052;
      }

      .not-a-member-button{
        background-color: white ;
        color: grey ;
        font-size: 0.99em;
      }
        .title {
          font-size: 13em ;
          color: white ;
          text-align: center;
        }

        .Absolute-Center {
      width: 100%;
      height: 100%;
      //overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
}
}
