

<ion-content>
<p></p><p></p><p></p><p></p>


    <ion-row>
      <ion-col >
        <img src="assets/images/TruScript Logo Copy@3x.png.png" />
        <h4 class="clean" align="center"> Search and discover average  </h4>
        <h4 class="clean" align="center"> savings of 64% </h4>

      </ion-col>
    </ion-row>





    <ion-list>


        <ion-searchbar placeholder ="Search Drug Name" [(ngModel)]="PARTIAL_DRUG_NAME" (click)="goToSearchBar()" disabled>
        </ion-searchbar>

    </ion-list>




</ion-content>
