page-search {

  ion-content{
       background: url('../assets/images/Background.png') ;
       background-repeat: no-repeat;
        background-position: center;
         background-attachment: fixed;
         background-size:cover
  }

   img {
      width: 50%;
      height: 50%;
      margin: 50px;

    }
   ion-row {
        align-items: center;
        text-align: center;
      }

      ion-list {
          margin: 0;

    }
      ion-item {
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }

      ion-list {
          margin: 0;

}
      ion-footer {
        background-color: #f6f6f6;
        width: 100% auto;
        font-size: 0.9em;
        height: 30px ;
        color:#CDC1C5 ;
        text-align: center;

      }

      ion-input{
        size : 5 ;
        width: 20% ;
        height: 40% ;
      }

      ion-item {
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }

      .scroll-content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
          }

      .login-button {
          size: 60%;
          font-size: 0.9em;
          background-color: #df3052;
      }
        .title {
          font-size: 13em ;
          color: white ;
          text-align: center;
        }

        .Absolute-Center {
      width: 100%;
      height: 100%;
      //overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
}

  .clean {

    font-family:monospace;
    color: white ;
    font-weight:2;
  }
}
