<!--
  Generated template for the SearchBarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
<div class="header-bckgrd">

  <ion-navbar color="truGreen">

<ion-searchbar type="text" disabled [(ngModel)]="search"  (ionInput)="loadValues()" ></ion-searchbar>

    </ion-navbar>


</div>



</ion-header>


<ion-content padding>

  <h5> Currently Searching {{searching}}</h5>
<!--
  <button ion-button class="login-button" (click)="loadList()" >Test API! (console)</button>
  <button ion-button class="login-button" (click)="goToSearchConfigPage('5')" >Search it!</button>
-->

 <ion-list>
	<ion-item  name = "items" *ngFor="let item of items; let i=index" (click)="goToSearchConfigPage(item)"  >
	{{item}}
</ion-item>
</ion-list>

<h5> Recent Searches</h5>
<ion-item name="recent" *ngFor="let last of recent" (click)="goToSearchConfigPage(last)">{{last}}</ion-item>
</ion-content>
