<!--
  Generated template for the SearchConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
<div class="header-bckgrd">

  <ion-navbar color="truGreen">
    

<div class="inline float_center" >
    <div class="specs" >
    <p class="drugName"  name="searching" [(ngModel)]="searching" ngDefaultControl > {{searching}}</p>
    <p class="drugSpec">   {{drugQte}},{{drugDosage}} </p>
  </div>
</div>
<div class="inline rightie" >
  <ion-icon   ios="ios-home" md="md-home" (click)="goToSearchPage()"></ion-icon>
</div>

</ion-navbar>


</div>



</ion-header>


<ion-content color="truBackground" padding>

  <h6> Select A Voucher Location</h6>
<div *ngIf="false">  <ion-icon name="arrow-dropright"></ion-icon> </div>
  <ion-card  *ngFor="let pharmacy of pharmaciesList"  (click)="goToPharmacyList(pharmacy.name , pharmacy.price, pharmacy.children,pharmacy.address,pharmacy.city,pharmacy.zip,pharmacy.phone,pharmacy.distance)" >

    <ion-card-header  >
    {{pharmacy.name}}
    <p class="pay">  You pay  </p>


    <div >
   <p class="location" >{{(pharmacy.children) != 0 ? 'Locations:' : '' }} {{pharmacy.children != 0 ? pharmacy.children : pharmacy.distance}}<p></p>
   <p class="pay">${{pharmacy.price}}  </p>
   </div>

  </ion-card-header>

  <ion-card-content>
    <div class="leftie" *ngIf="pharmacy.children > 0 " class="leftie">  <ion-icon class="icone" name="arrow-dropright"></ion-icon> </div>
  </ion-card-content>
  </ion-card>



</ion-content>
